<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel = "stylesheet" href="css/styles.css">
    <script type="text/javascript" src = "js/board.js"></script>
    <script type="text/javascript" src = "js/edit-board.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <title>Chomp</title>
</head>
<body>

    <div id="login" class="border"> <!--Login related stuff -->
        <div class = "text">
        <input id="username" type="text" placeholder="Select a username..">
        <div class = "button">
        <button class="btn btn-success btn-lg" type="button" onclick="onUsernameSelection()">Play</button>
    </div></div></div>

    <!-- Show user details in this section-->
    <div class="game" hidden>
        <div class = "matchDetails" >
            <div class="parts" id="userDetails" >
                <h3 id="user"></h3>
            </div>

            <div class="parts">
                <h3 id="turn" hidden>Your turn</h3>
                <h3 id="opponentTurn" hidden>Opponent turn</h3>
            </div>

            <!-- Show opponent details in this section if there is one-->
            <div class="parts" id="opponentDetails">
                <h3 id="opponent"></h3>
            </div>
        </div>
        <div id="main"> <!--Board related stuff -->
            <div id="bar" class="board" >
                <table id="chompBoard"></table>
            </div>
        </div>
    </div>

    <div id="roomSelector" hidden> <!-- Room Selection tab-->
        <div class="selector">
            <div class = "text">
                <input type="text" id="roomName" placeholder="Choose a room">
            </div>
            <div class="button" style="margin-top: 115px">
                <button class="btn btn-success btn-lg" id="joinButton" onclick="join()">Join</button>
            </div>
        </div>
    </div>

  <script>

    socket = io("http://localhost:3000", {autoConnect: false});

    var room;
    var userName;
    var turn = true;

    socket.on('connection');

    socket.on('transformation', (data) => {
        document.querySelector('table').innerHTML = data;
        document.getElementById("opponentTurn").hidden = true;
        document.getElementById("turn").hidden = false;
        setTurn()
    });

    socket.on("opponentJoined", (data) => {
        document.getElementById("opponent").innerHTML = "Opponent: " + data;
        document.getElementById("opponent").hidden = false;
        document.getElementById("turn").hidden = false;
        let opponent = userName;
        socket.emit('sendOpponent', {room, opponent});
        showBar();
    });

    socket.on('won', () => {
        window.alert('You Won!!');
        disconnect();
    });

    socket.on("opponentDisconected", (data) => {
        window.alert("The opponent disconnected");
        disconnect();
    });

    socket.on("opponentReceived", (data) => {
        document.getElementById("opponent").innerHTML = "Opponent: " + data;
        document.getElementById("opponent").hidden = false;
        setTurn();
        document.getElementById("opponentTurn").hidden = false;
        document.getElementById("turn").hidden = true;
        showBar();
    });

    const sendTransformation = () => {
        const move = document.getElementById("chompBoard").innerHTML;
        socket.emit('transformation', {room, move});
        document.getElementById("opponentTurn").hidden = false;
        document.getElementById("turn").hidden = true;
        setTurn();
    }

    const sendLoss = () => {
        socket.emit('lost', room);
        window.alert('You lost!');
        disconnect();
    }

    function join() {
        room = document.getElementById("roomName").value
        document.getElementById("roomSelector").hidden = true;
        let username = userName
        socket.emit('joinRoom', {room, username});
    }

    function onUsernameSelection() {
            userName = document.getElementById("username").value;
            console.log(userName);
            socket.auth = { userName };
            socket.connect();
            document.getElementById("login").hidden = true;
            document.getElementById("roomSelector").hidden = false;
            document.getElementById("user").innerHTML = userName;
    }

    function disconnect() {
        socket.emit("leaveRoom", room);
        document.getElementById("roomName").value = "";
        document.getElementById("roomSelector").hidden = false;
        document.getElementByClassName("game").hidden = true;
        room = "";
    }

    function cellClick(turn, id) {
        console.log("Turn status: " + turn);
        console.log(id);
        if (turn) {
            blockRemoval(id);
            sendTransformation();
        } else {
            window.alert("Not your turn to play");
        }
    }

    function getTurn() {
        return turn;
    }

    function setTurn() {
        turn = !getTurn();
        console.log("Changed turn to " + turn);
    }

    function showBar() {
        document.getElementById("chompBoard").innerHTML = newBoard();
        document.getElementsByClassName("game").hidden = false;
    }

    </script>
</body>

</html>
